<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<h2>Comments</h2>
<%= render @article.comments %> 
<!-- How is this connecting to the partial? Idk exactly how this works -->
<!-- From the guides: As the render method iterates over the @article.comments collection, it assigns each comment to a local variable named the same as the partial, in this case comment which is then available in the partial for us to show. The @article object is available to any partials rendered in the view because we defined it as an instance variable.

 -->

<h2>Add a Comment</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>
